body {
    margin: 0;
    font-family: Arial;
}

nav ul {
    background-color: lightcoral;
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /*! height: 100%; */
}
nav li {
    flex-basis: 7%;
}
nav a {
    display: block;
    padding: 1rem;

}
nav a:hover {
    background-color: palegoldenrod;
}
#logo img {
    height: 2rem;
}
#logo {
    padding: 0.48rem;
    position: relative;
}
#logo span {
    position: absolute;
    top: 1rem;
    margin-left: 7px;
}
