#container {
    margin: 2rem 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.finishBox {
    flex-basis: 30%;
    padding: 10px;
    background-color: #2299ee;
    animation: finishBoxAnimation 2 forwards;
}

.quizcard {
    background-color: #c4cdc6;
    padding: 1rem;
    flex-basis: 30%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 3px dotted black;
}
.quizcard:last-child {
    break-after: always;
}
.right-answer {
    animation: rightAnswerAnimation 2s forwards;
}
.wrong-answer {
    animation: wrongAnswerAnimation 2s forwards;
}

@keyframes finishBoxAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes rightAnswerAnimation {
    0% {
        box-shadow: 0 0 2px green;
    }
    50% {
        box-shadow: 0 0 30px 5px green;
    }
    100% {
        box-shadow: 0 0 8px 2px green;
    }
}

@keyframes wrongAnswerAnimation {
    0% {
        box-shadow: 0 0 2px red;
    }
    50% {
        box-shadow: 0 0 20px 5px red;
    }
    100% {
        box-shadow: 0 0 8px 2px red;
    }
}

