#container {
    margin: 2rem 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.quizcard {
    background-color: #c4cdc6;
    padding: 1rem;
    flex-basis: 30%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 3px dotted black;
}
