<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}"  type="image/icon">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <nav>
        <ul>
            <img src="{% static 'images/logo.png' %}"width="30" height="30">
            {% if user.is_authenticated %}
            <li><font face="Arial"><a href="{% url 'accounts:logout' %}">Logg ut</a></font></li>
            {% else %}
            <li><font face="Arial"><a href="{% url 'accounts:login' %}">Logg inn</a></font></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>
</html>
