{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="user_container">
    <form method="POST">
        {% csrf_token %}
        <!--<label for="username">Brukernavn:</label>-->
        {{form.username}}<br>
        <!--<label for="password1">Passord:</label>-->
        {{form.password}}<br>
        <button type="submit">Logg inn</button>
    </form>
    <span>Har du ikke konto <a href="{% url 'accounts:register' %}"><strong>registrer deg her</strong></a>!</span>
</div>
{% endblock %}
