{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="user_container">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}<br>
        {% endfor %}

        <img src="{% static 'images/logo.png' %}"width="50" height="50"></br>
        <button type="submit">Logg inn</button>
    </form>
    <span><font face="Arial">Har du ikke konto <a href="{% url 'accounts:register' %}"><strong>registrer deg her</strong></font></a>!</span>
</div>
{% endblock %}
