{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="user_container">
    <form method="POST">
        {% csrf_token %}
        {{form.username}}<br>
        {{form.password1}}<br>
        {{form.password2}}<br>
        <img src="{% static 'images/logo.png' %}">
        <button type="submit">Registrer</button>
    </form>
    <span>Har du allerede konto? <a href="{% url 'accounts:login' %}"><strong>Logg inn</strong></a> i steden for.</span>
</div>

{% endblock content %}
