{% extends 'base.html' %}

{% block title %}
Lag ny quiz!
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Lag en quiz!</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        {{ field }}
        {% endfor %}
        <button type="submit">Lag</button>
    </form>

    {% for quiz in favs %}
    {{ quiz }}
    {% endfor %}
    <hr>
    <h2>Alle quizene</h2>
    {% for quiz in quizes %}
    <h3>{{ quiz.title }}</h3>
    <strong>Quiz nr: {{ quiz.id }}</strong>
    <ul>
        {% for q in quiz.question.all|slice:":3"   %}
        <li>{{ q.question }}</li>
        {% endfor %}
    </ul>
    <button value="{{ quiz.id }}" class="choose">Velg</button>
    {% endfor %}
</div>
{% load static %}
<script src="{% static 'js/create_quiz.js' %}"></script>
{% endblock content %}
